@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Cairo', sans-serif;
  }
}

@keyframes slide-rtl {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-rtl {
  animation: slide-rtl 15s linear infinite;
}